html {
    background-image: url(../images/vaccine.png);
    background-repeat: repeat;
}

.grid-container {
    display: grid;
    grid-gap: 1px;
    grid-template-areas:    'header header header header'
                            'menu menu menu menu'
                            'main main main main'
                            'footer footer footer footer';
}

#wrapper {
    align-items: center;
    text-align: center;
    margin:auto;
    padding:auto;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-header {
    grid-area: header;
    padding: 15px 15px 15px 15px;
    background-color: orange;
    margin: 1px;
}

#navigator {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightcoral;
    padding: 10px;
    margin: 1px;
}

#navigator a {
    border: solid 0.1px;
    background-color: lightsalmon;
}

.grid-main {
    grid-area: main;
}

.grid-footer {
    grid-area: footer;
    position: fixed;
    width:100%;
    padding: 15px 15px 15px 15px;
    background-color: orange;
    margin: 1px;
    bottom: 0;
}

body {
    background-color: rgba(255, 255, 255, 0.8);
    height: auto;
}

a {
    text-decoration: none;
    padding: 15px 5px 15px 5px;
    margin: 5px 15px 5px 15px;
}

span {
    color: red;
}

#table {
    text-align: left;
    align-self: center;
    padding: auto;
    margin: auto;
}

#return {
    background-color: lightskyblue;
    color: whitesmoke;
    padding: 10px;
    margin: 10px 15px 10px 15px;
}
